@import "./styles/variables.css";

.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color-bg);
}

.app-content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}
